ICT-FaceKit
reg_weak_logger.log




__pycache__/
images/
landmark/
data/
lmks/


cd_test/

fern_pretrained_data/
face_conbine_test_folder/
preprop_debug_image/
qtwidgets/test_metadata/
reg_regressor_Rt_weak_logger.log
testdir/
test_land/